<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmail.mosoft521.se.book.dao.BookSaleRecordMapper">
  <resultMap id="BaseResultMap" type="com.gmail.mosoft521.se.book.entity.BookSaleRecord">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="BOOK_ID" jdbcType="INTEGER" property="bookId" />
    <result column="SALE_RECORD_ID" jdbcType="INTEGER" property="saleRecordId" />
    <result column="TRADE_SUM" jdbcType="INTEGER" property="tradeSum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_BY" jdbcType="INTEGER" property="createBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, BOOK_ID, SALE_RECORD_ID, TRADE_SUM, CREATE_TIME, CREATE_BY
  </sql>
  <select id="selectByExample" parameterType="com.gmail.mosoft521.se.book.entity.BookSaleRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_book_sale_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_book_sale_record
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_book_sale_record
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gmail.mosoft521.se.book.entity.BookSaleRecordExample">
    delete from t_book_sale_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gmail.mosoft521.se.book.entity.BookSaleRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_book_sale_record (BOOK_ID, SALE_RECORD_ID, TRADE_SUM, 
      CREATE_TIME, CREATE_BY)
    values (#{bookId,jdbcType=INTEGER}, #{saleRecordId,jdbcType=INTEGER}, #{tradeSum,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gmail.mosoft521.se.book.entity.BookSaleRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_book_sale_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        BOOK_ID,
      </if>
      <if test="saleRecordId != null">
        SALE_RECORD_ID,
      </if>
      <if test="tradeSum != null">
        TRADE_SUM,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="saleRecordId != null">
        #{saleRecordId,jdbcType=INTEGER},
      </if>
      <if test="tradeSum != null">
        #{tradeSum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gmail.mosoft521.se.book.entity.BookSaleRecordExample" resultType="java.lang.Long">
    select count(*) from t_book_sale_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_book_sale_record
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bookId != null">
        BOOK_ID = #{record.bookId,jdbcType=INTEGER},
      </if>
      <if test="record.saleRecordId != null">
        SALE_RECORD_ID = #{record.saleRecordId,jdbcType=INTEGER},
      </if>
      <if test="record.tradeSum != null">
        TRADE_SUM = #{record.tradeSum,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        CREATE_BY = #{record.createBy,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_book_sale_record
    set ID = #{record.id,jdbcType=INTEGER},
      BOOK_ID = #{record.bookId,jdbcType=INTEGER},
      SALE_RECORD_ID = #{record.saleRecordId,jdbcType=INTEGER},
      TRADE_SUM = #{record.tradeSum,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{record.createBy,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gmail.mosoft521.se.book.entity.BookSaleRecord">
    update t_book_sale_record
    <set>
      <if test="bookId != null">
        BOOK_ID = #{bookId,jdbcType=INTEGER},
      </if>
      <if test="saleRecordId != null">
        SALE_RECORD_ID = #{saleRecordId,jdbcType=INTEGER},
      </if>
      <if test="tradeSum != null">
        TRADE_SUM = #{tradeSum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gmail.mosoft521.se.book.entity.BookSaleRecord">
    update t_book_sale_record
    set BOOK_ID = #{bookId,jdbcType=INTEGER},
      SALE_RECORD_ID = #{saleRecordId,jdbcType=INTEGER},
      TRADE_SUM = #{tradeSum,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>