<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmail.mosoft521.se.book.dao.PublisherMapper">
  <resultMap id="BaseResultMap" type="com.gmail.mosoft521.se.book.entity.Publisher">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="PUB_NAME" jdbcType="VARCHAR" property="pubName" />
    <result column="PUB_TEL" jdbcType="VARCHAR" property="pubTel" />
    <result column="PUB_LINK_MAN" jdbcType="VARCHAR" property="pubLinkMan" />
    <result column="PUB_INTRO" jdbcType="VARCHAR" property="pubIntro" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_BY" jdbcType="INTEGER" property="createBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, PUB_NAME, PUB_TEL, PUB_LINK_MAN, PUB_INTRO, CREATE_TIME, CREATE_BY
  </sql>
  <select id="selectByExample" parameterType="com.gmail.mosoft521.se.book.entity.PublisherExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_publisher
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_publisher
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_publisher
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gmail.mosoft521.se.book.entity.PublisherExample">
    delete from t_publisher
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gmail.mosoft521.se.book.entity.Publisher">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_publisher (PUB_NAME, PUB_TEL, PUB_LINK_MAN, 
      PUB_INTRO, CREATE_TIME, CREATE_BY
      )
    values (#{pubName,jdbcType=VARCHAR}, #{pubTel,jdbcType=VARCHAR}, #{pubLinkMan,jdbcType=VARCHAR}, 
      #{pubIntro,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gmail.mosoft521.se.book.entity.Publisher">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_publisher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pubName != null">
        PUB_NAME,
      </if>
      <if test="pubTel != null">
        PUB_TEL,
      </if>
      <if test="pubLinkMan != null">
        PUB_LINK_MAN,
      </if>
      <if test="pubIntro != null">
        PUB_INTRO,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pubName != null">
        #{pubName,jdbcType=VARCHAR},
      </if>
      <if test="pubTel != null">
        #{pubTel,jdbcType=VARCHAR},
      </if>
      <if test="pubLinkMan != null">
        #{pubLinkMan,jdbcType=VARCHAR},
      </if>
      <if test="pubIntro != null">
        #{pubIntro,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gmail.mosoft521.se.book.entity.PublisherExample" resultType="java.lang.Long">
    select count(*) from t_publisher
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_publisher
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pubName != null">
        PUB_NAME = #{record.pubName,jdbcType=VARCHAR},
      </if>
      <if test="record.pubTel != null">
        PUB_TEL = #{record.pubTel,jdbcType=VARCHAR},
      </if>
      <if test="record.pubLinkMan != null">
        PUB_LINK_MAN = #{record.pubLinkMan,jdbcType=VARCHAR},
      </if>
      <if test="record.pubIntro != null">
        PUB_INTRO = #{record.pubIntro,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        CREATE_BY = #{record.createBy,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_publisher
    set ID = #{record.id,jdbcType=INTEGER},
      PUB_NAME = #{record.pubName,jdbcType=VARCHAR},
      PUB_TEL = #{record.pubTel,jdbcType=VARCHAR},
      PUB_LINK_MAN = #{record.pubLinkMan,jdbcType=VARCHAR},
      PUB_INTRO = #{record.pubIntro,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{record.createBy,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gmail.mosoft521.se.book.entity.Publisher">
    update t_publisher
    <set>
      <if test="pubName != null">
        PUB_NAME = #{pubName,jdbcType=VARCHAR},
      </if>
      <if test="pubTel != null">
        PUB_TEL = #{pubTel,jdbcType=VARCHAR},
      </if>
      <if test="pubLinkMan != null">
        PUB_LINK_MAN = #{pubLinkMan,jdbcType=VARCHAR},
      </if>
      <if test="pubIntro != null">
        PUB_INTRO = #{pubIntro,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gmail.mosoft521.se.book.entity.Publisher">
    update t_publisher
    set PUB_NAME = #{pubName,jdbcType=VARCHAR},
      PUB_TEL = #{pubTel,jdbcType=VARCHAR},
      PUB_LINK_MAN = #{pubLinkMan,jdbcType=VARCHAR},
      PUB_INTRO = #{pubIntro,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>